*/logs/log-*.php
*/logs/!index.html
*/logs/*
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
*/captcha/*.jpg
*/sessions/ci_session*
.DS_Store
Thumbs.db
._*

*/applications/config/development/config.php
*/applications/config/development/database.php
*/applications/config/production/config.php
*/applications/config/production/database.php
